<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Management</title>
</head>
<body>
    <div class="container-fluid">
        <header class="header col-md-12">
            <img class="logo" src="/static/dist/image/logo.2cad99fda5d5695a8660aaa8ca477a7b.png">
            <h1>IThink Back-End Management System</h1>
        </header>
        <div class="wrap col-md-12">
            <div class="left col-md-4"></div>
            <div class="right col-md-8"></div>
        </div>
    </div>
<script type="text/javascript" src="/static/dist/js/management.bundle-12d563f9ae1f29170125.js"></script></body>
</html>